.history
**/.history

.DS_Store
**/.DS_Store

.tmp
**/.tmp

.git
**/.git

.settings
**/.settings

.project
**/.project

.idea
**/.idea
*.iml
**/*.iml
*.ipr
**/.ipr
*.iws
**/.iws

.netbeans
**/.nbproject
nbproject

.classpath
**/.classpath

*.log
**/*.log

logs
**/logs

.vscode
**/.vscode

target
**/target

**/test-output

repository/src/main/resources/cities/**
